h1{
    @include h1;
    font-size: 64px;
}

.item {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 8fr 4fr;
    margin: 10px;
    background-color: rgba(84, 84, 84, 0.767);
    border-radius: 4px;
    border-style: ridge;
    align-items: center;
    @media (max-width: 767px){
        grid-auto-flow: dense;
        grid-template-columns: repeat(auto-fill, minmax(   min(100%, 25rem)        , 1fr));
        grid-template-rows: minmax(100px, auto);
        text-align: center;

    }
        .flecha{
            .bi{
                font-size: 80px;         
                color: #fff;       
            }
        }
        .listaPrincipal{
            ul{
                @media (max-width: 767px){
                    padding-inline-start: 0px;
                }
                list-style: none;
                font-size: large;
                color: white;
                
                li{
                    &.edificio{
                        font-family: $titulo_h1;
                    }
                }
            }
        }
        .listaSecundaria{
            ul{
                @media (max-width: 767px){
                    padding-inline-start: 0px;
                    text-align: center;
                }
                list-style: none;
                font-size: large;
                color: white;
                text-align: center;    
                }
            
        }
}  